/* intestazione */

#pat{background-image: url(../img/pattern.png);
    background-color: rgb(67, 143, 243);
    background-size: contain;
    height: 100px;
}

#logo{
    width: 150px;
    height: 50px ;
    margin-top: 50px;
}

.sottotitolo{
    color: gray;
}

#bool{
    color: rgb(127, 182, 255);
}

#data{
    font-size: 10px;
}

/* section photo */
#foto-tim{
   
    margin-top: 10px;
}
.didascalia{
    font-size: 10px;
}

/* section article */
#sub{
    background-color: yellow;
}